.search {
	display: flex;
	width: 100%;
	gap: 12px;
}

.search-bar {
	position: relative;
	display: flex;
	background-color: #f0f0f0;
	border-radius: 14px;
	width: 100%;
}

.search-input {
	background-color: #f0f0f0;
	right: 0;
	border: none;
	font-size: 32px;
	font-weight: 400;
	padding: 20px 80px;
	flex-grow: 1;
	border-radius: 14px;
	outline: none;
}

.search-submit {
	background-color: #f0f0f0;
	border-radius: 14px;
	width: 80px;
	height: 80px;
}

.search-open {
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	background-color: #f0f0f0;
	width: 40px;
}

.search-open:hover {
	background-color: transparent;
}

.collections-main-title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 65px;
}

.collections {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 25px;
	row-gap: 50px;
	justify-items: center;
}

.collection {
	display: flex;
	flex-direction: column;
	gap: 20px;
	cursor: pointer;
	max-width: 600px;
	width: 100%;
}

.collection-title {
	font-size: 32px;
	font-weight: 500;
}

.collection-img {
	height: 430px;
	border-radius: 20px;
	object-fit: contain;
}

.collection-materials {
	font-size: 24px;
	font-weight: 500;
}

.collection-name {
	font-style: italic;
	font-size: 18px;
	font-weight: 500;
}

.collection-border {
	height: 7px;
	width: 100%;
	background-color: #000000;
}

.collection-title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.collection-rating {
	display: flex;
	align-items: center;
	gap: 2px;
}

.collection-rating-value {
	font-size: 24px;
	font-weight: 500;
}

.collection-feedback {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.collection-feedback-item {
	gap: 5px;
	font-size: 18px;
}

.collection-feedback-item-title {
	display: flex;
	justify-content: space-between;
}

.collection-feedback-item-text {
	font-size: 16px;
	margin-top: 10px;
}

.collection-feedback-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.collection-feedback-form-rating {
	display: flex;
	gap: 10px;
}

.collection-feedback-form textarea {
	width: 100%;
	height: 100px;
	font-size: 16px;
	padding: 10px;
	outline: none;
	resize: none;
}

.collection-feedback-form button {
	max-width: fit-content;
	padding: 8px 18px;
	margin: auto;
}

.collection-title,
.collection-materials,
.collection-name,
.collection-border {
	transition: all 0.3s ease;
}

.collection:hover .collection-title,
.collection:hover .collection-materials,
.collection:hover .collection-name {
	color: #a1c3ff;
}

.collection:hover .collection-border {
	background-color: #a1c3ff;
}

@media screen and (max-width: 1400px) {
	.container {
		margin: 40px 60px;
	}

	.collections-main-title {
		margin-top: 50px;
	}

	.collections {
		grid-template-columns: repeat(1, 1fr);
	}

	.collections-main-title {
		text-align: center;
	}
}

@media screen and (max-width: 1000px) {
	.search-input {
		font-size: 24px;
		padding: 20px 60px;
	}

	.collections-main-title {
		margin-top: 50px;
	}
}

@media screen and (max-width: 620px) {
	.search {
		flex-direction: column;
		align-items: center;
	}

	.search-input {
		padding: 20px;
	}

	.search-input {
		font-size: 16px;
	}

	.search-open img {
		width: 20px;
	}

	.collection {
		text-align: center;
	}

	.collection-title-container {
		justify-content: space-around;
	}

	.collections-main-title {
		font-size: 32px;
	}
}
