.header {
	position: sticky; /* Фиксированное позиционирование */
	top: 0; /* Шапка прижата к верхнему краю экрана */
	left: 0; /* Шапка прижата к левому краю экрана */
	width: 100%; /* Ширина шапки равна ширине экрана */
	height: 150px; /* Высота шапки 150 пикселей */
	background-image: linear-gradient(
		to right,
		#a1c3ff,
		#ffaed8
	); /* Градиентный фон */
	z-index: 2; /* Устанавливаем шапке z-index, чтобы она оставалась поверх остальных элементов */
}

.logo {
	position: absolute; /* Позиционируем абсолютно */
	width: 182px; /* Ширина логотипа */
	height: 76px; /* Высота логотипа */
	left: 5%; /* Отступ от левого края на 5% */
	top: 50%; /* Положение по вертикали - по центру */
	transform: translateY(-50%); /* Корректируем положение по вертикали */
}

.nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5%; /* Отступ от правого края */
}

.nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex; /* Располагаем ссылки в строку */
	justify-content: flex-end; /* Выравнивание ссылок по правому краю */
}

.nav ul li {
	margin-left: 4.375rem; /* Отступ между ссылками */
}

.nav ul li:first-child {
	margin-left: 0; /* Убираем отступ слева у первой ссылки */
}

.nav ul li a {
	text-decoration: none;
	color: #000;
	font-family: "Raleway", sans-serif;
	font-size: 21px;
	letter-spacing: 3px;
	transition: all 0.3s ease;
}

.nav {
	display: none; /* По умолчанию скрываем навигационное меню */
}

.nav-toggle {
	display: block; /* Отображаем блок с иконкой */
	position: absolute; /* Позиционируем абсолютно */
	top: 50%; /* Выравниваем по вертикали по центру */
	right: 5%; /* Отступ от правого края */
	transform: translateY(-50%); /* Корректируем положение по вертикали */
}

.nav-toggle img {
	width: 50px; /* Задаем ширину изображения */
	height: 50px; /* Задаем высоту изображения */
	cursor: pointer;
}

.nav.active {
	display: block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 56px; /* Выберите подходящий отступ сверху */
	right: 120px;
	background-color: #fff; /* Цвет фона */
	border: 1px solid #ccc; /* Граница */
	border-radius: 5px; /* Закругление углов */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
	padding: 10px; /* Отступ внутри блока */
}

.dropdown-menu.active {
	display: block;
}

.dropdown-menu li {
	list-style: none;
}

.dropdown-menu li a {
	text-decoration: none;
	font-size: 36px; /* Увеличиваем размер шрифта */
	line-height: 64px;
	letter-spacing: 2px;
	color: black;
}

.dropdown-menu li a:hover {
	color: #a1c3ff; /* Устанавливаем желтый цвет текста при наведении */
	text-decoration: underline;
}

.nav ul li a:hover {
	color: #ffffff; /* Изменяем цвет текста при наведении на ссылку */
}

/* Медиа-запрос для изменения размера шрифта и расположения ссылок на мобильных устройствах */
@media only screen and (min-width: 1200px) {
	.nav {
		display: block; /* Отображаем навигационное меню при ширине экрана 1200px и более */
	}

	.nav-toggle {
		display: none; /* Скрываем блок с иконкой */
	}
}
