.ornament {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 30px;
}

.ornament-reviews {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.review {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}

.review-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.review-name {
	font-weight: 600;
	font-style: italic;
}

.review-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.review-input {
	width: 100%;
	resize: vertical;
	min-height: 52px;
	overflow-y: hidden;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}

.ornament-reviews h2 {
	margin-bottom: 10px;
}

.collection-img {
	height: auto;
	max-height: 900px;
}

.collection {
	cursor: initial;
}

.collection:hover .collection-title,
.collection:hover .collection-materials,
.collection:hover .collection-name {
	color: black;
}

.collection:hover .collection-border {
	background-color: black;
}

.collection-delete,
.review-submit {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	transition: all 0.3s ease;
	margin: auto;
}

.collection-delete:hover {
	background-color: red;
	color: white;
}

.review-submit {
	background-color: #a1c3ff;
	border: none;
}

.review-submit:hover {
	background-image: linear-gradient(to right, #a1c3ff, #ffaed8);
	color: white;
}

@media screen and (max-width: 1200px) {
	.ornament {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
}
