.content-school {
	margin: 120px 140px;
}

.content-school h1 {
	font-size: 64px;
	font-weight: 600;
	margin-bottom: 75px;
}

.leaders {
	display: flex;
	flex-direction: column;
	gap: 145px;
}

.leader-card {
	display: flex;
	gap: 90px;
}

.leader-photo {
	object-fit: cover;
	border-radius: 20px;
}

.leader-info {
	display: flex;
	flex-direction: column;
	gap: 45px;
}

.leader-name {
	font-size: 48px;
	font-weight: 500;
}

.leader-description {
	font-size: 32px;
	font-weight: 400;
}

.leader-button {
	display: inline-block;
	max-width: max-content;
	padding: 20px 40px;
	background-color: #a1c3ff;
	color: black;
	font-size: 24px; /* Изначальный размер шрифта */
	text-align: center;
	border-radius: 24px;
	border: none;
	text-decoration: none;
	transition: all 0.3s;
}

.leader-button:hover {
	background-image: linear-gradient(
		to right,
		#a1c3ff,
		#ffaed8
	); /* Изменяем цвет кнопки при наведении */
	color: #ffffff;
}

.centered-block {
	margin-top: 0;
}

@media screen and (max-width: 1400px) {
	.content-school {
		margin: 80px 24px;
	}
}

@media screen and (max-width: 1000px) {
	.leader-card {
		flex-direction: column;
		gap: 20px;
	}
}
